* {
  margin: 0;
  padding: 0;
}
.menu {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: "Signika Negative", sans-serif;
  padding: 0;
}
.logo img {
  height: 50px;
  width: 130px;
  margin-top: 0;
}
span {
  padding-left: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}
.menu1 {
  width: 15%;
  padding-left: 1%;
}
.menu2 {
  padding-left: 30%;
  width: 18%;
  text-transform: uppercase;
  font-size: smaller;
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
  cursor: pointer;
}
ion-icon {
  font-size: 20px;
  cursor: pointer;
}
body {
  background-color: rgb(219, 219, 219);
}

.slide-img {
  position: relative;
  height: 580px;
  background-color: black;
}
.slide-img .slider {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.slide-img .slider img {
  transition: all 0.15s;
  z-index: 1;
  float: right;
}
.slide-img .slider .text {
  position: absolute;
  padding-top: 10%;
  padding-left: 17%;
  font-family: "Signika Negative", sans-serif;
  width: 568px;
  line-height: 50px;
}
.slide-img .slider .text h1 {
  color: chartreuse;
  font-size: 42px;
  text-transform: uppercase;
  font-weight:lighter;
}
.slide-img .slider .text p {
  color: white;
  font-size: 25px;
  width: 100%;
  font-weight: lighter;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots {
  height: 10px;
  width: 10px;
  border: 100%;
  color: greenyellow;
}
